.product-card-stack {
    margin: 30px;
  }
  
  .product-card {
    max-width: 720px;
  }
  
  .product-card-media {
    height: 250px;
  }
  
  .product-card-content {
    justify-content: center;
    align-items: center;
  }
  
  .product-name {
    text-align: center;
    font-size: 1.5em; 
    color: #333; 
  }
  
  .product-description {
    text-align: center;
  }
  
  .price,
  .quantity,
  .discount,
  .total-price {
    text-align: center;
    font-weight: bold; 
    margin-top: 10px; 
    color: #2ec547; 
  }
  