
.flex-container {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 60vh; 
    width: 55%;
    margin: 40px auto; 

}