.product-title {
    margin-bottom: 10px;
    font-weight: 200;
  }
  
  .product-form {
    margin-top: 20px;
  }
  
  .AB {
    display: flex;
    flex-direction: column;
  }
  .product-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 15%;
    width: 35% ;
    align-items: center;
    font-weight: 200;
     
  }

  